.add-activity-form {
    width: 80%;
    margin: auto;
}

.input-text {
    border-radius: 10px;
    height: 1rem;
    width: 40%;
    font-size: 14px;
    margin: auto;
    font-family: 'Fira Sans', sans-serif;
}

#new-activity-button {
    display: grid;
    margin: auto;
}

.form {
    background-color: #ffd8b1;
    border-radius: 30px;
    width: 70%;
    height: 12rem;
    box-shadow: 
    0 0 0 10px #ff590f,
    0 0 0 20px #ff27a4;
    margin: auto;
}

.btn {
    background: linear-gradient(135deg, #ff590f, #ff27a4);
    border-radius: 20px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 15px;
    border: 0;

}

#submit {
    padding: 10px 30px;
    transition: transform .2s;
   
}

#submit:hover {
    transform: scale(1.25);
}

#new-activity-button {
    padding: 10px 50px;
}

.btn {
    transition: transform .2s;
}

.btn:hover {
    transform: scale(1.25);
}

.card {
    margin:auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 20rem;
    height: 30rem;
    box-shadow: 3px 4px #ff590f;
}

.img {
   width: 200px;
   height: 200px
}

#question {
    text-align: center;
    font-size: 40px;
}

.small-text {
    font-size: medium;
    font-weight: 200;
}

.recommendation-list {
    text-align: center;
}

#user-recommendations {
    text-align:center;
}

h1, h2, h3 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Fira Sans', sans-serif;
}

.rec-container {
    background-color: #ffd8b1;
    border-radius: 30px;
    width: 50%;
    box-shadow: 
    0 0 0 10px #ff590f,
    0 0 0 20px #ff27a4;
    margin: auto;
}