#add-activity-form {
    width: 80%;
    margin: auto;
}

#input-text {
    border-radius: 10px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    margin: auto;
}

#new-activity-button {
    display: grid;
    margin: auto;
}

#new-activity-button:hover {
    background-color: black;
    color: white;
}

.submit:hover {
    background-color: black;
    color: white;
}

.card {
    margin:auto;
    text-align: center;
    border: 2px solid black;
    border-radius: 30px;
    width: 20rem;
    height: 30rem;
    box-shadow: 3px 4px grey;
}

.img {
   width: 200px;
   height: 200px
}

#question {
    text-align: center;
}

.small-text {
    font-size: medium;
    font-weight: 200;
}